html {
  width: 100%;
  height: 100%;
}
body {
  padding:0;
  margin:0;
  width:100%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "proxima-nova",sans-serif;
  font-size: 14px;
}
.container {
  display: flex;
  height:calc(100% - 10px);
  width: calc(100% - 10px);
  min-width: 400px;
  min-height: 300px;
  border: 1px solid black;
  border-radius: 15px;
}

form .form-element {
  display: flex;
  flex-direction: column;
}

form input[type="submit"] {
  width: 100%;
  background: #1fff20;
  border-color: #1fff20;
  padding: 10px;
  margin: 10px 0;
}

.controls {
  width: 25%;
  padding: 15px;
  display: flex;
  flex-direction: column;
}
#results {
  flex: 1;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.board {
  width:75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.number-picker {
  padding: 0 50px;
}

.statistics {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.statistics form {
  display: flex;
  
}
.statistics form .form-element {
  width: 33%;
}

#range-number {
  width: 100%;
}

.red {
  color: red;
}
.green {
  color: green;
}


/* DARK THEME - Can be removed */

label {
  color: #b1bad3;
}
input[type="number"] {
  background: #0f212e;
  color: #FFF;
}

.controls {
  background: #213743;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  color: #b1bad3;
}
.board {
  background: #0f212e;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.statistics {
  background: #213743;
  border-bottom-right-radius: 15px;
  color: #b1bad3;
}

.statistics form {
  padding: 15px;
}

/* RANGE */
/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
  input[type='range'] {
    overflow: hidden;
    width: 100%;
    -webkit-appearance: none;
    background-color: #1fff20;
  }
  
  input[type='range']::-webkit-slider-runnable-track {
    height: 25px; /* Specified height */
    -webkit-appearance: none;
    color: #13bba4;
    margin-top: -1px;
  }
  
  input[type='range']::-webkit-slider-thumb {
     width: 25px; /* Set a specific slider handle width */
    -webkit-appearance: none;
    height: 25px; /* Specified height */
    cursor: ew-resize;
    background: #434343;
    box-shadow: -100vw 0 0 100vw  #ff1f44;
  }

}
/** FF*/
input[type="range"]::-moz-range-progress {
background-color: #ff1f44; 
}
input[type="range"]::-moz-range-track {  
background-color: #1fff20;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
background-color: #ff1f44; 
}
input[type="range"]::-ms-fill-upper {  
background-color: #1fff20;
}    


#tickmarks {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

#tickmarks p {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 1px;
  background: #D3D3D3;
  height: 10px;
  line-height: 40px;
  margin: 0 0 20px 0;
  color:#FFF;
}